{% extends 'base_layout.html' %}

{% block content %}
<div class="page-content">
  <h1>{{username}}, here's the complete list of books.</h1>
  <p>Welcome to the most awesomest collection of book titles.</p>
  <p>Click on book title to add to your personal book list.</p>
  <p>Go to your personal <a href="/accounts/userpage/">user</a> page</p>

  <div class="books">
    {% for book in books %}
    <div class="book">
      <form action="/list/userlist/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="bookid" value="{{book.id}}">
        <input type="hidden" name="userid" value="{{userid}}">
      <h2>{{ book.title }}, by {{ book.author }}. <button type="Submit">Add to my list</button></h2>
    </form>
    </div>

    {% endfor %}
  </div>
  <div>
    Don't see your book? Add it below!
  </div>
  <form action="{% url 'booklist:booklist-list' %}" method="POST">
  {% csrf_token %}
  {{ form.as_p}}
  <button type="Submit" value="Addbook">Submit</button>
</form>
</div>

  {% endblock %}
  
