{% extends 'base_layout.html' %}

{% block content %}
  <h1>{{username}}, here's the complete list of books.</h1>
  <p>Welcome to the most awesomest collection of book titles.</p>
  <p>Click on book title to add to your personal book list.</p>

  <div class="books">
    {% for book in books %}
    <div class="book">
      <h2><a href="">{{ book.title }}</a>, by {{ book.author }}</h2>
    </div>

    {% endfor %}
  </div>
  <div>
    Don't see your book? Add it below!
  </div>
  <form action="addbook/" method="POST">
      {% csrf_token %}
    <input type="text" value="title">
    <input type="text" value="author">
    <input type="number" value="rating" max="5" min="0">
    <input type="submit" value="Add book">
  </form>

  {% endblock %}
  
