body {

}

nav {
  margin-bottom: 50px;
}

.page-content {
  padding-left: 5%;
  padding-right: 5%;
}

.page-content button {
  background-color: #2176FF;
  color: white;
  border-radius: 10px;
  size: 5px;
}

.analytics {
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
}

.list-title {
  /* background-color: #2176FF; */

}

.btn .btn-outline-success {
  color: blue
}



/* body {
  background: lightgray;
}

nav ul {
  list-style-type: none;
  background-color: #4444;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  display: inline-block;
  margin-left: 40px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
} */
