nav {
  margin-bottom: 50px;
}

.page-content {
  padding-left: 5%;
  padding-right: 5%;
}

.page-content button {
  background-color: #2176FF;
  color: white;
  border-radius: 10px;
  size: 5px;
}

.analytics {
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
}
