{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Document</title>
</head>
<body>
  <nav class="nav">
    <ul>
      <li>
          <a href="/accounts/userpage/">User page</a>
      </li>
      <li>
          <a href="/">Home</a>
      </li>
      <li>
          <a href="/accounts/signup/">Signup</a>
      </li>
      <li> 
          <a href="/accounts/login/">Login</a>
      </li>
      <li>
        <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST" id="logout">
          {% csrf_token %}
          <button type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </nav>

  <div class="wrapper">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>