{% extends 'base_layout.html' %}

{% block content %}
  <div class="page-content" >
  <h1>Booklist app</h1>
  <p>The greatest of all booklist apps.</p> 


  <div class="container">
      <div class="row">
        <div class="col-sm">
            <div class="analytics" id="recently_added">
                <h3 class="list-title">5 most recently added</h3>
                {% for book in dateadded %}
                  <p>{{ book.title }}</p>
                {% endfor %}
              </div>
        </div>
        <div class="col-sm">
            <div class="analytics" id="popular">
                <h3 class="list-title">Top 5 most popular</h3>
                {% for book in topbooks %}
                  <p>{{ book.title }}</p>
                {% endfor %}
              </div>
        </div>
        <div class="col-sm">
            <div class="analytics" id="highlyrated">
                <h3 class="list-title">Top 5 most highly rated</h3>      
                {% for book in highestrated %}
                  <p>{{ book }}</p>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>

{% endblock %}

